* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar {
    background-color: rgba(17, 17, 27, 0.95);
    border-bottom: 2px solid rgba(17, 17, 27, 0.95);
    color: #cdd6f4;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: #313244;
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    color: #a6adc8;
    background-color: #313244;
    box-shadow: inset 0 -3px #7f849c;
}

#workspaces button:hover {
    background: rgba(17, 17, 27, 0.95);
    box-shadow: inset 0 -3px #cdd6f4;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 3px 0px;
    color: #181825;
    border-radius: 5px;
}

#clock {
    background-color: #738668;
}

#battery {
    background-color: #f9e2af;
}

#battery.charging, #battery.plugged {
    background-color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: #89dceb;
}

#memory {
    background-color: #cba6f7;
}

#network {
    background-color: #f5c2e7;
}

#network.disconnected {
    background-color: #f38ba8;
}

#pulseaudio {
    background-color: #fab387;
}

#pulseaudio.muted {
    background-color: #f38ba8;
}

#tray {
    background-color: #b4befe;
}
